<div class="filter">
	<div class="slider-group">
		<h2>{{capitalize heading}}</h2>
		<div class="slider"></div>
		<div class="inputs">
			<div class="group min">
				<input id="{{id}}-min" type="number" value="{{min}}" min="{{min}}" max="{{max}}" step="1" />
				<label for="{{id}}-min">Min</label>
			</div>
			<div class="group max">
				<input id="{{id}}-max" type="number" value="{{max}}" min="{{min}}" max="{{max}}" step="1" />
				<label for="{{id}}-max">Max</label>
			</div>
		</div>
	</div>
</div>